.navbar{
	margin-bottom:0px;
	width:100%;
	z-index:2000;
}

.menu-icon{
	max-width:50px;
	max-height:50px;
}

.canvasjs-chart-credit {
   display: none;
}

label{
	color: white;
	font-size: 16px;
	font-weight:bold;
}

@font-face {
    font-family: "runescape-small";
    src: url('RuneScapeSmall.ttf') format("truetype");
}
span.rssmall { 
    font-family: runescape-small, Verdana, Tahoma;
	top: -6px;
    text-shadow: #000 1px 1px;
    position: absolute;
    color: yellow;
    left: 6px;
    font-size: 16px;
	z-index:1080;
}
.rssmall.white { 
    color: white;
}

.tooltip_templates { display: none; }

div.ttitem span.rssmall{
	top: -9px;
}

.grayscaleitem{
	filter: grayscale(100%);
	opacity: 0.3;
}

.regularitem{
	opacity: 1;
}

.clueitemlevel{
	background-color:#424242;
    border: 2px solid #000;
    display: block;
	float:left;
    height:10px;
	width:20px;
	margin:1px;
	margin-top:5px;
}
.clueitemlevel.elite{
	background-color: rgb(102,51,153);
}
.clueitemlevel.hard{
	background-color: rgb(204,51,51);
}
.clueitemlevel.medium{
	background-color: rgb(255,153,0);
}
.clueitemlevel.easy{
	background-color: rgb(0,153,0);
}

span.cluedisplayitemname{
	font-size:20px;
	font-weight:700;
	color:#000;
}

span.cluedisplayitemname a:link, span.cluedisplayitemname a:visited, span.cluedisplayitemname a:hover, span.cluedisplayitemname a:active{color:#000;}
span.cluedisplayitemname a:hover{text-decoration:underline;cursor:pointer;}

.tttable td{
	padding: 0 !important;
    border: 0 !important;
    text-align: center;
    position: relative;
    width: 46px;
    height: 40px;
	left:18px;
	top:-3px;
}
.ttitems{
	padding-top:15px;
	background-color: rgba(29,29,64,0.3);
	padding-right:15px;
}

.ttitem{
	padding: 0 !important;
    border: 0 !important;
    text-align: center;
    position: relative;
    width: 46px;
    height: 40px;
	left:18px;
	top:-3px;
	float:left;
	opacity: 1;
}

.ttitem:hover{cursor:pointer;}

.tttable{
	background-image: url('../rs/img/TTRewardTemplate.png');
    background-repeat: no-repeat;
    background-position: top left;
    width: 401px;
    height: 224px;
    padding: 52px 0 42px;
    border-spacing: 0;
	display: inline-block;
	margin-top:15px;
}

p.cluevalue{
	text-align: center;
	font-family: runescape-small, Verdana, Tahoma;
	width: 401px;
	position: relative;
	top:15px;
	color: white;
	font-size:24px;
}

p.cluedate{
	text-align: center;
	font-family: runescape-small, Verdana, Tahoma;
	width: 200px;
	position: relative;
	top:23px;
	color: white;
	font-size:24px;
}

p.cluelevel{
	text-align: center;
	font-family: runescape-small, Verdana, Tahoma;
	width: 200px;
	position: relative;
	top:23px;
	color: white;
	font-size:24px;
}
#cluedisplays h1{
	text-align:center;
	margin-top:10px;
	color: #fff;
}

.carousel-control-next{
	top:108px;
	height: 25%;
}

.carousel-control-prev{
	top:108px;
	height: 25%;
}

.cluevaluebar{
	width: 361px;
	position: relative;
	top:14px;
	left:20px;
	color: white;
	font-size:24px;
	background:none;
}

.container{
	width: 100%;
}

.updatebtn {
	/* position: absolute; */
    bottom: 0;
    left: 0;
	width:100%;
	text-align:center;
}
.updatetext {
	padding:0px 5px 0px 5px;
}

body {
  margin: 0px;
  padding: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

/*stats*/
.rstable table {
	border-collapse: collapse;
	/* min-width:100%; */
}

.rstable th{
	background-color: #000000;
	color: #ffffff;
	font-weight:800;
	text-align: center;
	vertical-align:middle;
}

.tablebkg{
	background-color: rgba(29,29,64,0.3);
}

.rstable tbody td {
    height:25px;
	vertical-align:middle;
	border-right: solid 2px #000000; 
	border-left: solid 2px #000000;
	color: #ffffff;
}

.rstable tbody tr:hover td{
    background-color: #ADD8E6;
	color: #000000;
}

.chart-container{
	position: relative; 
	border: solid 2px rgba(0,0,0,0); 
	padding:15px;
	background-color: rgba(29,29,64,0.5);
}

/* Skills Table */
#maincontent{
	margin-top:25px;
	margin-bottom:25px;
}

.skillimg{
    width: 59px;
    position: absolute;
    left: 34px;
    top: 9px;
}

.skillimg.overall {
    left: 14px;
}

.skillimg-sm{
	max-height:50px;
}

.progress-stats {
	margin-bottom: 0px;
    height: 13px;
    border-radius: 0px;
    background-color: rgba(10,10,22,1);
    position: absolute;
    width: 140px;
}
.progress-bar-stats{
	color: #fff;
	line-height:25px;
	height: 100%;
	font-weight: 900;
	text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}
.progress-cell-stats{
    padding: 0px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    height: 13px;
    opacity: 1;
    width: 140px;
}

.skilldisplay{
	background-image: url('../rs/img/SkillBg.png');
    background-repeat: no-repeat;
    background-position: top left;
	background-size: contain;
    width: 200px;
    height: 100px;
	padding-left:15px;
	padding-top:15px;
    border-spacing: 0;
	display: inline-block;
}

.skilldisplay span{
	color:#fff;
	font-weight:bold;
}

span.level {
    position: absolute;
    left: 101px;
    top: 5px;
    font-size: 45px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

span.level.overall {
    left:80px;
}

span.xp{
	position: absolute;
    left: 12px;
    font-size: 19px;
    top: 62px;
}

span.xp.overall {
    left:48px;
}

span.percent {
    position: absolute;
    left: 152px;
    font-size: 16px;
    top: 70px;
    text-align: right;
}
/* Slayer Table */


.jumbotron {
background-color: rgba(46, 53, 61, 0.8) !important;
border-top-left-radius: 0px !important;
border-top-right-radius: 0px !important;
color: #FFF;
wdith: 100%;
}
.jumbotron-sm { padding-top: 24px;
padding-bottom: 24px; }
.jumbotron small {
color: #FFF;
}

.clueform{
	/* background-color:rgba(44, 62, 80, 1.0); */
	border-color:#000000;
	color:#ffffff;
	padding-top:15px;
}

.clueform input {
	background-color: #68686b;
	border-width:1px;
	color:#ffffff;
}

.form-control{
	background-color: #68686b;
	color:#ffffff;
}

.csitem {
	padding-left:0px;
}

#newcluecontent{
	padding:10px;
}